.particle{

position:fixed;

bottom:-20px;

width:6px;

height:6px;

border-radius:50%;

background:#3b82f6;

opacity:.25;

animation:floatParticle linear infinite;

pointer-events:none;

}

@keyframes floatParticle{

0%{

transform:translateY(0);

opacity:0;

}

20%{

opacity:.4;

}

100%{

transform:translateY(-110vh);

opacity:0;

}

}