.glass{

backdrop-filter:blur(15px);

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.08);

}

.hover-up{

transition:.3s;

}

.hover-up:hover{

transform:translateY(-10px);

}

.glow:hover{

box-shadow:0 0 30px #3B82F6;

}